BLOCK RSTPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

# #################################################################
# # Basic Settings
# #################################################################
# 
#   SYSCONFIG MCCLK_FRQ = 2.5;
# 
#   FRQUNCY PORT CLK_PCLK_RIGHT 200 MHz;
#   FRQUNCY PORT CLK_PCLK_LFT  200 MHz;
#   FRQUNCY PORT CLK_GPLL_RIGHT 125 MHz;
#   FRQUNCY PORT CLK_GPLL_LFT  200 MHz;
#   FRQUNCY PORT CLK_XT_3      10  MHz;
#   FRQUNCY PORT CLK_XT_4      10  MHz;


#################################################################
# Clock I/O
#################################################################

#Additional signals from Clock-RJ-45
LOCAT COMP  "CLK_XT_3"   SIT "U9";  #was SPAR_LIN_2
LOCAT COMP  "CLK_XT_4"   SIT "Y34"; #was SPAR_LIN_4
LOCAT COMP  "CLK_SRDS_INT_RIGHT" SIT "AH22"; 
LOCAT COMP  "CLK_SRDS_INT_LFT"  SIT "AH12";
LOCAT COMP  "CLK_GPLL_RIGHT"       SIT "Y28";
LOCAT COMP  "CLK_GPLL_LFT"        SIT "Y9";
LOCAT COMP  "CLK_PCLK_LFT"   SIT "V9";
LOCAT COMP  "CLK_PCLK_RIGHT"   SIT "U28";

DFIN PORT GROUP "CLK_group" "CLK*" ;
IOBUF GROUP  "CLK_group" IO_TYP=LVDS25;

LOCAT COMP  "NPIRION_CLOCK" SIT "G18";
IOBUF PORT   "NPIRION_CLOCK" IO_TYP=LVCMOS25 PULLMOD=NON DRIV=4;

#################################################################
# Trigger I/O
#################################################################

#Trigger from fan-out
LOCAT COMP  "TRIGGR_RIGHT" SIT "W30";
IOBUF  PORT  "TRIGGR_RIGHT" IO_TYP=LVDS25 ; 
LOCAT COMP  "TRIGGR_LFT"  SIT "Y2";
IOBUF  PORT  "TRIGGR_LFT"  IO_TYP=LVDS25 ;

#To fan-out to all FPGA
LOCAT COMP  "TRIGGR_OUT"   SIT "V7";
IOBUF  PORT  "TRIGGR_OUT"   IO_TYP=LVDS25 ; 

LOCAT COMP  "TRIGGR_OUT2"  SIT "W8"; #was XT_TRIG_4
IOBUF  PORT  "TRIGGR_OUT2"  IO_TYP=LVDS25 ; 


#Additional lines on Trigger-RJ-45
LOCAT COMP  "TRIGGR_XT_2"   SIT "W2";
LOCAT COMP  "TRIGGR_XT_3"   SIT "W4"; #was XT_TRIG_2
#LOCAT COMP  "TRIGGR_XT_4"   SIT "W8"; #was XT_TRIG_4
DFIN PORT GROUP "TRIGGR_XT_group" "TRIGGR_XT*" ;
IOBUF GROUP  "TRIGGR_XT_group" IO_TYP=LVDS25;

LOCAT COMP  "CLK_TST_OUT_2"   SIT "Y34";
IOBUF  PORT  "CLK_TST_OUT_2"  IO_TYP=LVDS25 ; 
LOCAT COMP  "CLK_TST_OUT_1"   SIT "W4";
IOBUF  PORT  "CLK_TST_OUT_1"  IO_TYP=LVDS25 ; 
LOCAT COMP  "CLK_TST_OUT_0"   SIT "U9";
IOBUF  PORT  "CLK_TST_OUT_0"  IO_TYP=LVDS25 ; 


LOCAT COMP  "CLKRJ_0"   SIT "U9"; 
LOCAT COMP  "CLKRJ_1"   SIT "U8"; 
LOCAT COMP  "CLKRJ_2"   SIT "Y34";
LOCAT COMP  "CLKRJ_3"   SIT "Y33"; 
DFIN PORT GROUP "CLKRJ_group" "CLKRJ*" ;
IOBUF GROUP  "CLKRJ_group" IO_TYP=LVCMOS25 PULLMOD=UP DRIV=12;

#################################################################
# Clock and Trigger Select
#################################################################
#Trigger select for fan-out. 0: external trigger. 1: TRIGGR_OUT
LOCAT COMP  "TRIGGR_SLCT" SIT "AA31";
IOBUF  PORT  "TRIGGR_SLCT" IO_TYP=LVCMOS25 PULLMOD=UP DRIV=4  ;

LOCAT COMP  "CLK_MNGR1_USR_0"   SIT "AA28";
LOCAT COMP  "CLK_MNGR1_USR_1"   SIT "AA27";
LOCAT COMP  "CLK_MNGR1_USR_2"   SIT "AB32";
LOCAT COMP  "CLK_MNGR1_USR_3"   SIT "AB31";
LOCAT COMP  "CLK_MNGR2_USR_0"   SIT "A34";
LOCAT COMP  "CLK_MNGR2_USR_1"   SIT "A33";
LOCAT COMP  "CLK_MNGR2_USR_2"   SIT "AB26";
LOCAT COMP  "CLK_MNGR2_USR_3"   SIT "AB25";
DFIN PORT GROUP "CLK_MNGR_group" "CLK_MNGR*" ;
IOBUF GROUP "CLK_MNGR_group" IO_TYP=LVCMOS25 PULLMOD=DOWN DRIV=8;

LOCAT COMP  "CLOCK_SLCT"   SIT "AA30";
IOBUF  PORT  "CLOCK_SLCT" IO_TYP=LVCMOS25 PULLMOD=UP DRIV=4  ;

#################################################################
# LD
#################################################################
LOCAT COMP  "LD_GRN"          SIT "A17";
LOCAT COMP  "LD_ORANG"         SIT "B17";
LOCAT COMP  "LD_RD"            SIT "19";
LOCAT COMP  "LD_YLLOW"         SIT "20";
IOBUF PORT "LD_GRN"  IO_TYP=LVTTL33 PULLMOD=UP DRIV=8;
IOBUF PORT "LD_ORANG" IO_TYP=LVTTL33 PULLMOD=UP DRIV=8;
IOBUF PORT "LD_RD"    IO_TYP=LVTTL33 PULLMOD=UP DRIV=8;
IOBUF PORT "LD_YLLOW" IO_TYP=LVTTL33 PULLMOD=UP DRIV=8;

LOCAT COMP  "LD_TRIGGR_GRN"  SIT "AP5";
LOCAT COMP  "LD_TRIGGR_RD"    SIT "AP6";
LOCAT COMP  "LD_CLOCK_GRN"    SIT "AL4";
LOCAT COMP  "LD_CLOCK_RD"      SIT "AM4";
IOBUF PORT "LD_TRIGGR_GRN" IO_TYP=LVCMOS25 PULLMOD=UP DRIV=8;
IOBUF PORT "LD_TRIGGR_RD"   IO_TYP=LVCMOS25 PULLMOD=UP DRIV=8;
IOBUF PORT "LD_CLOCK_GRN"   IO_TYP=LVCMOS25 PULLMOD=UP DRIV=8;
IOBUF PORT "LD_CLOCK_RD"     IO_TYP=LVCMOS25 PULLMOD=UP DRIV=8;

#################################################################
# Inter-FPGA Connection
#################################################################
LOCAT COMP  "FPGA1_COMM_0"   SIT "AC9";
LOCAT COMP  "FPGA1_COMM_10"  SIT "AJ1";
LOCAT COMP  "FPGA1_COMM_11"  SIT "AK1";
LOCAT COMP  "FPGA1_COMM_1"   SIT "AC8";
LOCAT COMP  "FPGA1_COMM_2"   SIT "A2";
LOCAT COMP  "FPGA1_COMM_3"   SIT "A1";
LOCAT COMP  "FPGA1_COMM_4"   SIT "A4";
LOCAT COMP  "FPGA1_COMM_5"   SIT "A3";
LOCAT COMP  "FPGA1_COMM_6"   SIT "AB10";
LOCAT COMP  "FPGA1_COMM_7"   SIT "AC10";
LOCAT COMP  "FPGA1_COMM_8"   SIT "AD4";
LOCAT COMP  "FPGA1_COMM_9"   SIT "AD3";

LOCAT COMP  "FPGA2_COMM_0"   SIT "P5";
LOCAT COMP  "FPGA2_COMM_10"  SIT "M10";
LOCAT COMP  "FPGA2_COMM_11"  SIT "N10";
LOCAT COMP  "FPGA2_COMM_1"   SIT "P4";
LOCAT COMP  "FPGA2_COMM_2"   SIT "N8";
LOCAT COMP  "FPGA2_COMM_3"   SIT "P8";
LOCAT COMP  "FPGA2_COMM_4"   SIT "M5";
LOCAT COMP  "FPGA2_COMM_5"   SIT "N5";
LOCAT COMP  "FPGA2_COMM_6"   SIT "R7";
LOCAT COMP  "FPGA2_COMM_7"   SIT "R5";
LOCAT COMP  "FPGA2_COMM_8"   SIT "N2";
LOCAT COMP  "FPGA2_COMM_9"   SIT "N1";

LOCAT COMP  "FPGA3_COMM_0"   SIT "AC28";
LOCAT COMP  "FPGA3_COMM_10"  SIT "AF32";
LOCAT COMP  "FPGA3_COMM_11"  SIT "AF31";
LOCAT COMP  "FPGA3_COMM_1"   SIT "AB27";
LOCAT COMP  "FPGA3_COMM_2"   SIT "A32";
LOCAT COMP  "FPGA3_COMM_3"   SIT "A31";
LOCAT COMP  "FPGA3_COMM_4"   SIT "A30";
LOCAT COMP  "FPGA3_COMM_5"   SIT "A29";
LOCAT COMP  "FPGA3_COMM_6"   SIT "AC25";
LOCAT COMP  "FPGA3_COMM_7"   SIT "AC26";
LOCAT COMP  "FPGA3_COMM_8"   SIT "AD26";
LOCAT COMP  "FPGA3_COMM_9"   SIT "AD25";

LOCAT COMP  "FPGA4_COMM_0"   SIT "AN32";
LOCAT COMP  "FPGA4_COMM_10"  SIT "AM29";
LOCAT COMP  "FPGA4_COMM_11"  SIT "AN29";
LOCAT COMP  "FPGA4_COMM_1"   SIT "AM32";
LOCAT COMP  "FPGA4_COMM_2"   SIT "AP29";
LOCAT COMP  "FPGA4_COMM_3"   SIT "AP30";
LOCAT COMP  "FPGA4_COMM_4"   SIT "AL30";
LOCAT COMP  "FPGA4_COMM_5"   SIT "AM30";
LOCAT COMP  "FPGA4_COMM_6"   SIT "AL31";
LOCAT COMP  "FPGA4_COMM_7"   SIT "AM31";
LOCAT COMP  "FPGA4_COMM_8"   SIT "AP31";
LOCAT COMP  "FPGA4_COMM_9"   SIT "AN31";


#################################################################
# Connection to small AddOns
#################################################################
LOCAT COMP  "FPGA1_CONNCTOR_0"    SIT "AN1";
LOCAT COMP  "FPGA1_CONNCTOR_1"    SIT "AN2";
LOCAT COMP  "FPGA1_CONNCTOR_2"    SIT "AD9";
LOCAT COMP  "FPGA1_CONNCTOR_3"    SIT "AD8";
LOCAT COMP  "FPGA1_CONNCTOR_4"    SIT "AP2";
LOCAT COMP  "FPGA1_CONNCTOR_5"    SIT "AP3";
LOCAT COMP  "FPGA1_CONNCTOR_6"    SIT "AJ2";
LOCAT COMP  "FPGA1_CONNCTOR_7"    SIT "AJ3";

LOCAT COMP  "FPGA2_CONNCTOR_0"    SIT "P9";
LOCAT COMP  "FPGA2_CONNCTOR_1"    SIT "P10";
LOCAT COMP  "FPGA2_CONNCTOR_2"    SIT "R2";
LOCAT COMP  "FPGA2_CONNCTOR_3"    SIT "R1";
LOCAT COMP  "FPGA2_CONNCTOR_4"    SIT "P7";
LOCAT COMP  "FPGA2_CONNCTOR_5"    SIT "P6";
LOCAT COMP  "FPGA2_CONNCTOR_6"    SIT "R4";
LOCAT COMP  "FPGA2_CONNCTOR_7"    SIT "R3";

LOCAT COMP  "FPGA3_CONNCTOR_0"    SIT "AN34";
LOCAT COMP  "FPGA3_CONNCTOR_1"    SIT "AN33";
LOCAT COMP  "FPGA3_CONNCTOR_2"    SIT "AH33";
LOCAT COMP  "FPGA3_CONNCTOR_3"    SIT "AJ33";
LOCAT COMP  "FPGA3_CONNCTOR_4"    SIT "AP33";
LOCAT COMP  "FPGA3_CONNCTOR_5"    SIT "AP32";
LOCAT COMP  "FPGA3_CONNCTOR_6"    SIT "AL34";
LOCAT COMP  "FPGA3_CONNCTOR_7"    SIT "AL33";

LOCAT COMP  "FPGA4_CONNCTOR_0"    SIT "AK27";
LOCAT COMP  "FPGA4_CONNCTOR_1"    SIT "AJ27";
LOCAT COMP  "FPGA4_CONNCTOR_2"    SIT "AK28";
LOCAT COMP  "FPGA4_CONNCTOR_3"    SIT "AJ28";
LOCAT COMP  "FPGA4_CONNCTOR_4"    SIT "AH27";
LOCAT COMP  "FPGA4_CONNCTOR_5"    SIT "AH28";
LOCAT COMP  "FPGA4_CONNCTOR_6"    SIT "AL29";
LOCAT COMP  "FPGA4_CONNCTOR_7"    SIT "AK29";

DFIN PORT GROUP "FPGA_group" "FPGA*" ;
IOBUF GROUP "FPGA_group" IO_TYP=LVCMOS25 PULLMOD=UP;

LOCAT COMP  "FPGA1_TTL_0"    SIT "J21";  #202 #was F1_3V3_LIN etc.
LOCAT COMP  "FPGA1_TTL_1"    SIT "H22";  #204
LOCAT COMP  "FPGA1_TTL_2"    SIT "A23";  #206
LOCAT COMP  "FPGA1_TTL_3"    SIT "B23";  #208
LOCAT COMP  "FPGA2_TTL_0"    SIT "22";  #202
LOCAT COMP  "FPGA2_TTL_1"    SIT "23";  #204
LOCAT COMP  "FPGA2_TTL_2"    SIT "C23";  #206
LOCAT COMP  "FPGA2_TTL_3"    SIT "D23";  #208
LOCAT COMP  "FPGA3_TTL_0"    SIT "K22";  #202
LOCAT COMP  "FPGA3_TTL_1"    SIT "K21";  #204
LOCAT COMP  "FPGA3_TTL_2"    SIT "A24";  #206
LOCAT COMP  "FPGA3_TTL_3"    SIT "B24";  #208
LOCAT COMP  "FPGA4_TTL_0"    SIT "G23";  #202
LOCAT COMP  "FPGA4_TTL_1"    SIT "H23";  #204
LOCAT COMP  "FPGA4_TTL_2"    SIT "D24";  #206
LOCAT COMP  "FPGA4_TTL_3"    SIT "24";  #208
DFIN PORT GROUP "FPGATTL_group" "*TTL*" ;
IOBUF GROUP "FPGATTL_group" IO_TYP=LVTTL33 PULLMOD=DOWN DRIV=8;

#################################################################
# SFP Control / Status
#################################################################
LOCAT COMP  "SFP_TX_FAULT_1"  SIT "K23";
LOCAT COMP  "SFP_TX_FAULT_2"  SIT "D21";
LOCAT COMP  "SFP_TX_FAULT_3"  SIT "H19";
LOCAT COMP  "SFP_TX_FAULT_4"  SIT "A18";
LOCAT COMP  "SFP_TX_FAULT_5"  SIT "D25";
LOCAT COMP  "SFP_TX_FAULT_6"  SIT "D27";
LOCAT COMP  "SFP_TX_FAULT_7"  SIT "D20";
LOCAT COMP  "SFP_TX_FAULT_8"  SIT "J19";
LOCAT COMP  "SFP_RAT_SL_1"  SIT "C25";
LOCAT COMP  "SFP_RAT_SL_2"  SIT "J22";
LOCAT COMP  "SFP_RAT_SL_3"  SIT "D19";
LOCAT COMP  "SFP_RAT_SL_4"  SIT "G19";
LOCAT COMP  "SFP_RAT_SL_5"  SIT "C27";
LOCAT COMP  "SFP_RAT_SL_6"  SIT "A29";
LOCAT COMP  "SFP_RAT_SL_7"  SIT "16";
LOCAT COMP  "SFP_RAT_SL_8"  SIT "C20";
LOCAT COMP  "SFP_LOS_1"       SIT "K24";
LOCAT COMP  "SFP_LOS_2"       SIT "21";
LOCAT COMP  "SFP_LOS_3"       SIT "A19";
LOCAT COMP  "SFP_LOS_4"       SIT "B18";
LOCAT COMP  "SFP_LOS_5"       SIT "G26";
LOCAT COMP  "SFP_LOS_6"       SIT "27";
LOCAT COMP  "SFP_LOS_7"       SIT "F21";
LOCAT COMP  "SFP_LOS_8"       SIT "K19";
LOCAT COMP  "SFP_TXDIS_1"     SIT "A25";
LOCAT COMP  "SFP_TXDIS_2"     SIT "H20";
LOCAT COMP  "SFP_TXDIS_3"     SIT "B19";
LOCAT COMP  "SFP_TXDIS_4"     SIT "J18";
LOCAT COMP  "SFP_TXDIS_5"     SIT "G25";
LOCAT COMP  "SFP_TXDIS_6"     SIT "B28";
LOCAT COMP  "SFP_TXDIS_7"     SIT "F22";
LOCAT COMP  "SFP_TXDIS_8"     SIT "A20";
LOCAT COMP  "SFP_MOD0_1"      SIT "B25";
LOCAT COMP  "SFP_MOD0_2"      SIT "J20";
LOCAT COMP  "SFP_MOD0_3"      SIT "K20";
LOCAT COMP  "SFP_MOD0_4"      SIT "H18";
LOCAT COMP  "SFP_MOD0_5"      SIT "C26";
LOCAT COMP  "SFP_MOD0_6"      SIT "A28";
LOCAT COMP  "SFP_MOD0_7"      SIT "A21";
LOCAT COMP  "SFP_MOD0_8"      SIT "B20";
LOCAT COMP  "SFP_MOD1_1"      SIT "C28";
LOCAT COMP  "SFP_MOD1_2"      SIT "A22";
LOCAT COMP  "SFP_MOD1_3"      SIT "L19";
LOCAT COMP  "SFP_MOD1_4"      SIT "D18";
LOCAT COMP  "SFP_MOD1_5"      SIT "D26";
LOCAT COMP  "SFP_MOD1_6"      SIT "A26";
LOCAT COMP  "SFP_MOD1_7"      SIT "B21";
LOCAT COMP  "SFP_MOD1_8"      SIT "G20";
LOCAT COMP  "SFP_MOD2_1"      SIT "D28";
LOCAT COMP  "SFP_MOD2_2"      SIT "B22";
LOCAT COMP  "SFP_MOD2_3"      SIT "C19";
LOCAT COMP  "SFP_MOD2_4"      SIT "18";
LOCAT COMP  "SFP_MOD2_5"      SIT "B27";
LOCAT COMP  "SFP_MOD2_6"      SIT "A27";
LOCAT COMP  "SFP_MOD2_7"      SIT "F16";
LOCAT COMP  "SFP_MOD2_8"      SIT "G21";

DFIN PORT GROUP "SFP_group" "SFP*" ;
IOBUF GROUP "SFP_group" IO_TYP=LVTTL33 PULLMOD=UP;

#################################################################
# Main AddOn Connector 
#################################################################

LOCAT COMP  "CL_IN_0"    SIT "M25";
LOCAT COMP  "CL_IN_1"    SIT "M26";
LOCAT COMP  "CL_IN_2"    SIT "L26";
LOCAT COMP  "CL_IN_3"   SIT "N28";
DFIN PORT GROUP "CL_IN_group" "CL_IN*" ;
IOBUF GROUP "CL_IN_group" IO_TYP=LVTTL33 PULLMOD=DOWN;

LOCAT COMP  "JIN1_0"    SIT "R26";
LOCAT COMP  "JIN1_1"    SIT "N26"; # was P26
LOCAT COMP  "JIN1_2"    SIT "P28";
LOCAT COMP  "JIN1_3"   SIT "K29";
DFIN PORT GROUP "JIN1_group" "JIN1*" ;
IOBUF GROUP  "JIN1_group" IO_TYP=LVDS25 DIFFRSISTOR=100;

LOCAT COMP  "JIN2_0"   SIT "R28"; # was R27
LOCAT COMP  "JIN2_1"   SIT "R31"; # was R30
LOCAT COMP  "JIN2_2"    SIT "U34";
LOCAT COMP  "JIN2_3"   SIT "K34";
DFIN PORT GROUP "JIN2_group" "JIN2*" ;
IOBUF GROUP  "JIN2_group" IO_TYP=LVDS25 DIFFRSISTOR=100;

LOCAT COMP  "JINLVDS_0"   SIT "L32";
LOCAT COMP  "JINLVDS_1"   SIT "L33";
LOCAT COMP  "JINLVDS_2"   SIT "N32";
LOCAT COMP  "JINLVDS_3"   SIT "M30";
LOCAT COMP  "JINLVDS_4"   SIT "P32";
LOCAT COMP  "JINLVDS_5"   SIT "R29";
LOCAT COMP  "JINLVDS_6"   SIT "N31";
LOCAT COMP  "JINLVDS_7"   SIT "P30";
LOCAT COMP  "JINLVDS_8"   SIT "M31";
LOCAT COMP  "JINLVDS_9"   SIT "P31";
LOCAT COMP  "JINLVDS_10"   SIT "L31";
LOCAT COMP  "JINLVDS_11"   SIT "L34";
LOCAT COMP  "JINLVDS_12"   SIT "K31";
LOCAT COMP  "JINLVDS_13"   SIT "K32";
LOCAT COMP  "JINLVDS_14"   SIT "N30";
LOCAT COMP  "JINLVDS_15"   SIT "N29";
DFIN PORT GROUP "JINLVDS_group" "JINLVDS*" ;
IOBUF GROUP "JINLVDS_group" IO_TYP=LVTTL33 PULLMOD=DOWN;

LOCAT COMP  "DISCRIMINATOR_IN_0"   SIT "T32";
LOCAT COMP  "DISCRIMINATOR_IN_1"   SIT "T30";
DFIN PORT GROUP "DISCRIMINATOR_group" "DISCRIMINATOR*" ;
IOBUF GROUP  "DISCRIMINATOR_group" IO_TYP=LVDS25 DIFFRSISTOR=OFF;

LOCAT COMP  "JOUT1_0"   SIT "B4";
LOCAT COMP  "JOUT1_1"   SIT "B3";
LOCAT COMP  "JOUT1_2"   SIT "B1";
LOCAT COMP  "JOUT1_3"  SIT "C3";
DFIN PORT GROUP "JOUT1_group" "JOUT1*" ;
IOBUF GROUP  "JOUT1_group" IO_TYP=LVDS25;

LOCAT COMP  "JOUT2_0"  SIT "D3";
LOCAT COMP  "JOUT2_1"  SIT "4";
LOCAT COMP  "JOUT2_2"  SIT "D6";
LOCAT COMP  "JOUT2_3"  SIT "B6";
DFIN PORT GROUP "JOUT2_group" "JOUT2*" ;
IOBUF GROUP  "JOUT2_group" IO_TYP=LVDS25;


LOCAT COMP  "JOUTLVDS_0"  SIT "C11";
LOCAT COMP  "JOUTLVDS_1"  SIT "D9";
LOCAT COMP  "JOUTLVDS_2"  SIT "11";
LOCAT COMP  "JOUTLVDS_3"  SIT "F10";
LOCAT COMP  "JOUTLVDS_4"  SIT "G11";
LOCAT COMP  "JOUTLVDS_5"  SIT "H11";
LOCAT COMP  "JOUTLVDS_6"  SIT "J14";
LOCAT COMP  "JOUTLVDS_7"  SIT "J12";
DFIN PORT GROUP "JOUTLVDS_group" "JOUTLVDS*" ;
IOBUF GROUP  "JOUTLVDS_group" IO_TYP=LVDS25 ;

LOCAT COMP  "JTTL_0"  SIT "D12";
LOCAT COMP  "JTTL_1"  SIT "12";
LOCAT COMP  "JTTL_2"  SIT "A12";
LOCAT COMP  "JTTL_3"  SIT "B12";
LOCAT COMP  "JTTL_4"  SIT "A11";
LOCAT COMP  "JTTL_5"  SIT "B11";
LOCAT COMP  "JTTL_6"  SIT "A10";
LOCAT COMP  "JTTL_7"  SIT "B10";
LOCAT COMP  "JTTL_8"  SIT "B7";
LOCAT COMP  "JTTL_9"  SIT "A7";
LOCAT COMP  "JTTL_10"  SIT "B8";
LOCAT COMP  "JTTL_11"  SIT "C8";
LOCAT COMP  "JTTL_12"  SIT "A8";
LOCAT COMP  "JTTL_13"  SIT "A9";
LOCAT COMP  "JTTL_14"  SIT "K11";
LOCAT COMP  "JTTL_15"  SIT "J11";
DFIN PORT GROUP "JTTL_group" "JTTL_{0:14}" ;
IOBUF GROUP "JTTL_group" IO_TYP=LVCMOS25 PULLMOD=NON;
IOBUF PORT "JTTL_15"     IO_TYP=LVCMOS25 PULLMOD=DOWN;

LOCAT COMP  "LD_BANK_0"  SIT "13";
LOCAT COMP  "LD_BANK_1"  SIT "F13";
LOCAT COMP  "LD_BANK_2"  SIT "G13";
LOCAT COMP  "LD_BANK_3"  SIT "H14";
LOCAT COMP  "LD_BANK_4"  SIT "A13";
LOCAT COMP  "LD_BANK_5"  SIT "B13";
LOCAT COMP  "LD_BANK_6"   SIT "K16";
LOCAT COMP  "LD_BANK_7"   SIT "L16";
DFIN PORT GROUP "LD_BANK_group" "LD_BANK*" ;
IOBUF GROUP "LD_BANK_group" IO_TYP=LVCMOS25 PULLMOD=NON DRIV=8;

LOCAT COMP  "LD_FAN_GRN"   SIT "T29";
LOCAT COMP  "LD_FAN_ORANG"    SIT "T34";
LOCAT COMP  "LD_FAN_RD"   SIT "T28";
LOCAT COMP  "LD_FAN_YLLOW"    SIT "U32";
DFIN PORT GROUP "LD_FAN_group" "LD_FAN*" ;
IOBUF GROUP "LD_FAN_group" IO_TYP=LVTTL33 PULLMOD=NON DRIV=8;

LOCAT COMP  "LD_RJ_GRN_0"   SIT "M27";
LOCAT COMP  "LD_RJ_GRN_1"   SIT "P33";
LOCAT COMP  "LD_RJ_GRN_2"   SIT "M34";
LOCAT COMP  "LD_RJ_GRN_3"   SIT "P34";
LOCAT COMP  "LD_RJ_GRN_4"   SIT "J17";
LOCAT COMP  "LD_RJ_GRN_5"   SIT "M28";
LOCAT COMP  "LD_RJ_RD_0"    SIT "N27";
LOCAT COMP  "LD_RJ_RD_1"   SIT "R34";
LOCAT COMP  "LD_RJ_RD_2"   SIT "N34";
LOCAT COMP  "LD_RJ_RD_3"   SIT "L28";
LOCAT COMP  "LD_RJ_RD_4"     SIT "H17";
LOCAT COMP  "LD_RJ_RD_5"   SIT "M29";
IOBUF  PORT "LD_RJ_GRN_0" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_GRN_1" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_GRN_2" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_GRN_3" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_GRN_4" IO_TYP=LVCMOS25 DRIV=8  ;
IOBUF  PORT "LD_RJ_GRN_5" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_RD_0" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_RD_1" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_RD_2" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_RD_3" IO_TYP=LVTTL33 DRIV=8  ;
IOBUF  PORT "LD_RJ_RD_4" IO_TYP=LVCMOS25 DRIV=8  ;
IOBUF  PORT "LD_RJ_RD_5" IO_TYP=LVTTL33 DRIV=8  ;

LOCAT COMP  "NIM_IN_0"    SIT "T26";
LOCAT COMP  "NIM_IN_1"    SIT "U26";
DFIN PORT GROUP "NIM_group" "NIM*" ;
IOBUF GROUP "NIM_group" IO_TYP=LVTTL33 PULLMOD=DOWN;

LOCAT COMP  "PWM_OUT_0"    SIT "U27";
LOCAT COMP  "PWM_OUT_1"    SIT "U31";
DFIN PORT GROUP "PWM_group" "PWM*" ;
IOBUF GROUP "PWM_group" IO_TYP=LVTTL33 DRIV=8;


LOCAT COMP  "TRG_FANOUT_ADDON"   SIT "D5";
IOBUF  PORT "TRG_FANOUT_ADDON" IO_TYP=LVDS25 ;

# DFIN PORT GROUP "ADO_LV_group" "ADO_LV*" ;
# IOBUF GROUP "ADO_LV_group" IO_TYP=LVCMOS25 PULLMOD=NON DRIV=8;
# DFIN PORT GROUP "FS_P_group" "FS_P*" ;
# IOBUF GROUP "FS_P_group" IO_TYP=LVTTL33 PULLMOD=NON DRIV=8;
# DFIN PORT GROUP "ADO_TTL_group" "ADO_TTL*" ;
# IOBUF GROUP "ADO_TTL_group" IO_TYP=LVTTL33 PULLMOD=NON DRIV=8;
# IOBUF  PORT "LD_RJ_RD_4" IO_TYP=LVDS25  ;
# IOBUF  PORT "TRB_TO_ADDON_CLK" IO_TYP=LVCMOS25  ;
# IOBUF  PORT "ADDON_RST" IO_TYP=LVTTL33 PULLMOD=UP DRIV=4  ;


#################################################################
# Flash ROM and Reboot
#################################################################
LOCAT COMP  "FLASH_CLK"   SIT "C30";
LOCAT COMP  "FLASH_CS"    SIT "A31";
LOCAT COMP  "FLASH_DIN"   SIT "B31";
LOCAT COMP  "FLASH_DOUT"  SIT "C29";

DFIN PORT GROUP "FLASH_group" "FLASH*" ;
IOBUF GROUP "FLASH_group" IO_TYP=LVTTL33 PULLMOD=NON;

LOCAT COMP  "PROGRAMN"   SIT "H25";
IOBUF  PORT "PROGRAMN" IO_TYP=LVTTL33 PULLMOD=UP DRIV=8  ;


#################################################################
# Test Connector  (Order corrected to match pin-out of connector!)
#################################################################
LOCAT COMP  "TST_LIN_4"    SIT "G4";    # "TST_LIN_0" 
LOCAT COMP  "TST_LIN_5"    SIT "G5";    # "TST_LIN_1" 
LOCAT COMP  "TST_LIN_2"    SIT "H5";    # "TST_LIN_2" 
LOCAT COMP  "TST_LIN_3"    SIT "H4";    # "TST_LIN_3" 
LOCAT COMP  "TST_LIN_10"    SIT "F2";    # "TST_LIN_4" 
LOCAT COMP  "TST_LIN_11"    SIT "F1";    # "TST_LIN_5" 
LOCAT COMP  "TST_LIN_6"    SIT "F3";    # "TST_LIN_6" 
LOCAT COMP  "TST_LIN_7"    SIT "3";    # "TST_LIN_7" 
LOCAT COMP  "TST_LIN_12"    SIT "G2";    # "TST_LIN_8" 
LOCAT COMP  "TST_LIN_13"    SIT "G1";    # "TST_LIN_9" 
LOCAT COMP  "TST_LIN_8"   SIT "G3";    # "TST_LIN_10"
LOCAT COMP  "TST_LIN_9"   SIT "H3";    # "TST_LIN_11"
LOCAT COMP  "TST_LIN_14"   SIT "H1";    # "TST_LIN_12"
LOCAT COMP  "TST_LIN_15"   SIT "J1";    # "TST_LIN_13"
LOCAT COMP  "TST_LIN_0"    SIT "J3";    # "TST_LIN_14"
LOCAT COMP  "TST_LIN_1"    SIT "H2";    # "TST_LIN_15"

LOCAT COMP  "TST_LIN_20"   SIT "K4";    # "TST_LIN_16"
LOCAT COMP  "TST_LIN_21"   SIT "K3";    # "TST_LIN_17"
LOCAT COMP  "TST_LIN_26"   SIT "K7";    # "TST_LIN_18"
LOCAT COMP  "TST_LIN_27"   SIT "J6";    # "TST_LIN_19"
LOCAT COMP  "TST_LIN_16"   SIT "K2";    # "TST_LIN_20"
LOCAT COMP  "TST_LIN_17"   SIT "K1";    # "TST_LIN_21"
LOCAT COMP  "TST_LIN_30"   SIT "L10";   # "TST_LIN_22"
LOCAT COMP  "TST_LIN_31"   SIT "L9";    # "TST_LIN_23"
LOCAT COMP  "TST_LIN_18"   SIT "L2";    # "TST_LIN_24"
LOCAT COMP  "TST_LIN_19"   SIT "L1";    # "TST_LIN_25"
LOCAT COMP  "TST_LIN_28"   SIT "M8";    # "TST_LIN_26"
LOCAT COMP  "TST_LIN_29"   SIT "L7";    # "TST_LIN_27"
LOCAT COMP  "TST_LIN_22"   SIT "L5";    # "TST_LIN_28"
LOCAT COMP  "TST_LIN_23"   SIT "L4";    # "TST_LIN_29"
LOCAT COMP  "TST_LIN_24"   SIT "K6";    # "TST_LIN_30"
LOCAT COMP  "TST_LIN_25"   SIT "K5";    # "TST_LIN_31"

DFIN PORT GROUP "TST_LIN_group" "TST_LIN*" ;
IOBUF GROUP "TST_LIN_group" IO_TYP=LVCMOS25 PULLMOD=DOWN DRIV=8;

#################################################################
# Misc
#################################################################
LOCAT COMP  "TMPSNS"    SIT "D22";
IOBUF  PORT "TMPSNS" IO_TYP=LVTTL33 PULLMOD=UP DRIV=8  ;






BLOCK RSTPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################
SYSCONFIG MCCLK_FRQ=20 ;

FRQUNCY PORT "CLK_PCLK_RIGHT" 200.000000 MHz ;
#  FRQUNCY PORT CLK_PCLK_LFT  200 MHz;
#FRQUNCY PORT "CLK_GPLL_RIGHT" 125.000000 MHz ;
#FRQUNCY PORT "CLK_GPLL_LFT" 200.000000 MHz ;
#  FRQUNCY PORT CLK_XT_3      10  MHz;
#  FRQUNCY PORT CLK_XT_4      10  MHz;

FRQUNCY PORT "CLK_GPLL_RIGHT" 125.0 MHz;
FRQUNCY PORT "CLK_PCLK_RIGHT" 200.0 MHz;
FRQUNCY PORT "JINLVDS[0]" 200.0 MHz;
FRQUNCY NT "GN_CTS.TH_CTS/cts_trigger_out" 100.0 MHz;
FRQUNCY NT "TH_MAIN_PLL/clk_200_i" 200.0 MHz;
FRQUNCY NT "TH_MAIN_PLL/clk_100_i_c" 100.0 MHz;
FRQUNCY NT "GN_CBMNT.GN_CBMNT.TH_CBM_BRIDG/TH_CBM_PHY/TH_SRDS/clk_tx_full_i" 250.0 MHz;
FRQUNCY NT "GN_CBMNT.GN_CBMNT.TH_CBM_BRIDG/TH_CBM_PHY/TH_RX_GAR/CLK_RX_HALF_OUT_c" 125.0 MHz;
FRQUNCY NT "GN_CBMNT.GN_CBMNT.TH_CBM_BRIDG/TH_CBM_PHY/TH_SRDS/CLK_RX_FULL_OUTz" 250.0 MHz;
FRQUNCY NT "TH_MDIA_ONBOARD/gen_serdes_200.TH_SRDS/refclkdiv2_rx_ch0" 100.0 MHz;
FRQUNCY NT "TH_MDIA_ONBOARD/gen_serdes_200.TH_SRDS/refclkdiv2_rx_ch1" 100.0 MHz;
FRQUNCY NT "TH_MDIA_ONBOARD/gen_serdes_200.TH_SRDS/refclkdiv2_rx_ch2" 100.0 MHz;
FRQUNCY NT "TH_MDIA_ONBOARD/gen_serdes_200.TH_SRDS/refclkdiv2_rx_ch3" 100.0 MHz;
FRQUNCY NT "TH_MDIA_ONBOARD/gen_serdes_200.TH_SRDS/refclkdiv2_tx_ch" 100.0 MHz;
FRQUNCY NT "GB/imp_gen.serdes_intclk_gen.PCS_SRDS/clk_int.SRDS_GB/sd_rx_clk_1" 125.0 MHz;
FRQUNCY NT "osc_int" 200.0 MHz;
FRQUNCY NT "GN_TDC.GN_TDC.TH_TDC/GN_Channels.1.Channels/Channel200/FSM_RD_STAT[2]" 100.0 MHz;
FRQUNCY NT "GN_TDC.GN_TDC.TH_TDC/GN_Channels.2.Channels/Channel200/FSM_RD_STAT[2]" 100.0 MHz;
FRQUNCY NT "GN_TDC.GN_TDC.TH_TDC/GN_Channels.3.Channels/Channel200/FSM_RD_STAT[2]" 100.0 MHz;
FRQUNCY NT "GN_TDC.GN_TDC.TH_TDC/GN_Channels.4.Channels/Channel200/FSM_RD_STAT[2]" 100.0 MHz;
FRQUNCY NT "GN_TDC.GN_TDC.TH_TDC/ReferenceChannel/Channel200/FSM_RD_STAT[2]" 100.0 MHz;

#################################################################
# Reset Nets
#################################################################  
GSR_NT NT "GSR_N";

#################################################################
# Locate Serdes and media interfaces
#################################################################
#LOCAT COMP "GB/imp_gen.serdes_intclk_gen.PCS_SRDS/clk_int.SRDS_GB/PCSD_INST" SIT "PCSB" ;
LOCAT COMP "GB/physical_impl_gen.physical/impl_gen.gbe_serdes/PCSD_INST" SIT "PCSB";
LOCAT COMP "gen_single_sfp_TH_MDIA_UPLINK/gen_serdes_0_200_ctc_TH_SRDS/PCSD_INST" SIT "PCSA" ;
LOCAT COMP "gen_four_sfp_TH_MDIA_UPLINK/gen_serdes_200_TH_SRDS/PCSD_INST" SIT "PCSA" ;
LOCAT COMP "TH_MDIA_ONBOARD/gen_serdes_200.TH_SRDS/PCSD_INST" SIT "PCSC" ;
LOCAT COMP "TH_MDIA_ONBOARD/gen_serdes_125_TH_SRDS/PCSD_INST" SIT "PCSC" ;

UGROUP "TH_RST_HANDLR_GRP" BLKNAM TH_RST_HANDLR;
MULTICYCL TO CLL "TH_RST_HANDLR/final_reset[*]" 30.000000 ns ;
MULTICYCL FROM CLL "TH_RST_HANDLR/final_reset*" 30.000000 ns ;

#MULTICYCL TO CLL "TH_HUB/TH_HUB/local_network_reset*" 30.000000 ns ;

#RGION "MDIA_UPLINK" "R100C115D" 20 60 DVSIZ;
#LOCAT UGROUP "gen_four_sfp_TH_MDIA_UPLINK/media_interface_group" RGION "MDIA_UPLINK" ;
#LOCAT UGROUP "gen_single_sfp_TH_MDIA_UPLINK/media_interface_group" RGION "MDIA_UPLINK" ;
#LOCAT UGROUP "TH_MDIA_ONBOARD/media_interface_group" RGION "MDIA_UPLINK" ;






#RGION "MDIA_ONBOARD" "R90C122" 20 40;
#MULTICYCL TO CLL "TH_MDIA_DOWNLINK/SCI_DATA_OUT*" 50 ns;
MULTICYCL TO CLL "gen_single_sfp_TH_MDIA_UPLINK/SCI_DATA_OUT*" 50.000000 ns ;
MULTICYCL TO CLL "gen_four_sfp_TH_MDIA_UPLINK/SCI_DATA_OUT*" 50.000000 ns ;
#SPI Interface

RGION "RGION_SPI" "R9C95D" 20 20 DVSIZ;
LOCAT UGROUP "TH_SPI_MASTR/SPI_group" RGION "RGION_SPI" ;
#LOCAT UGROUP "TH_SPI_MMORY/SPI_group" RGION "RGION_SPI" ;
#RGION "RGION_CTS" "R42C2D" 37 57 DVSIZ;
# UGROUP "cts_group" 
#   BLKNAM TH_CTS;
# LOCAT UGROUP "cts_group" RGION "RGION_CTS";  

MULTICYCL TO CLL "gen_mbs_vulom_as_etm.TH_MBS/trg_sync" 20.000000 ns ;
MULTICYCL TO CLL "gen_mbs_vulom_as_etm.TH_MBS/error_reg" 20.000000 ns ;

#TrbNet Hub 
RGION "RGION_IOBUF" "R35C20D" 65 85 DVSIZ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.3.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.1.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.1.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.0.gen_iobuf.IOBUF/genRPLYOBUF1.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.0.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.3.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.0.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.0.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.3.gen_iobuf.IOBUF/genRPLYOBUF1.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.3.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.0.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.3.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.1.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.3.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.1.gen_iobuf.IOBUF/genRPLYOBUF1.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.1.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.1.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.0.gen_iobuf.IOBUF/genINITOBUF1.INITOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.0.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.1.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.3.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.0.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.1.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.3.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.0.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.1.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.3.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.0.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.1.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.3.gen_iobuf.IOBUF/genRPLYOBUF2.gen_RPLYOBUF3.RPLYOBUF/OBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.3.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.1.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.1.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.0.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.3.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.0.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.1.gen_iobufs.0.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.3.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.0.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.3.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.1.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.0.gen_iobufs.3.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.4.gen_iobufs.1.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.3.gen_iobufs.1.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;
LOCAT UGROUP "TH_HUB/TH_HUB/gen_bufs.2.gen_iobufs.0.gen_iobuf.IOBUF/GN_IBUF.TH_IBUF/IBUF_group" RGION "RGION_IOBUF" ;

#BLOCK PATH FROM CLL "GB/imp_gen.MAC/U1_LSC_ts_mac_core/U1_cpu_if*" TO CLL "GB/imp_gen.MAC/U1_LSC_ts_mac_core/U1_tx_mac*" ;
#BLOCK PATH FROM CLL "GB/imp_gen.MAC/U1_LSC_ts_mac_core/U1_cpu_if*" TO CLL "GB/imp_gen.MAC/U1_LSC_ts_mac_core/U1_rx_mac*" ;

LOCAT UGROUP "CBMNT_PHY_GROUP" SIT "R100C118D";
LOCAT UGROUP "CBMNT_BRIDG_GROUP"   SIT "R42C106D";
LOCAT COMP "GN_CBMNT.TH_CBM_BRIDG/TH_CBM_PHY/TH_SRDS/PCSD_INST" SIT "PCSA" ;


UGROUP "TH_MDIA_ONBOARD_GROUP" BBOX 25 45
   BLKNAM TH_MDIA_ONBOARD;
LOCAT UGROUP "TH_MDIA_ONBOARD_GROUP" SIT "R98C75D" ; 